<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>instruction</title>
    <style type="text/css">
      .mcard
      {
        max-width: 100%;
        margin-left: 16%;
        margin-right: 16%;
      }
      .cardtitle
      {
        text-align: center;
        margin-top: 16px;
      }
      .conditions
      {
        margin-left: 20%;
        margin-top: 5px;
      }
      .donebutton
      {
       margin-top: 5px;
       margin-bottom: 5px;
       padding-left: 25px  ;
       padding-right: 25px ;
      }
    </style>
  </head>
  <body>
    <div class="cardtitle">
      <h3>Instructions</h3> 
    </div>
    
    <div class="card mcard  bg-light">
      <div class="card-body">
        
        <p class="card-text">Online examination is being conducted for evaluating the students performance for August<br>
          -2020 Term-End Examination (TEE) for various courses. It is an Online Examination system,fully computerized, user<br>friendly having advanced security features making it fair, transparent and standardized.<br>
          The term end examination will be conducted in an online proctured mode. Candidate can take the test from the<br> safe and secure environment from his/her home,with a desktop/laptop/smartphone (with a webcam) and an<br>internet connection (un-interrupted internet speed is desirable).
        </p>
        <p>A. General information:</p>
        <ol>
          <li>The examination will comprise of Objective type Multiple Choice Questions (MCQs).</li>
          <li>All questions are compulsory and each carries One mark.</li>
          <li>The total number of questions, duration of examination, will be different based on the course, the details is available on your screen.</li>
          <li>The Subjects or topics covered in the exam will be as per the Syllabus.</li>
          <li>There will be No Negative Marking for the wrong answers.</li>
        </ol>
        
         <p>B. Information & Instruction:</p>
         <ol>
          <li>The examination does not require using any paper, pen, pencil and calculator.</li>
          <li>Every student will take the examination on a Laptop/Desktop/Smart Phone.</li>
          <li>On computer screen every student will be given objective type Multiple Choice Questions (MCQs).</li>
      </div>
  </div>

  <div class="form-check">
      <label class="form-check-label conditions">
        <input type="radio" class="form-check-input" name="optradio">Accept the terms and conditions.
      </label>
  </div>


  <center><button type="button" class="btn btn-dark donebutton">Done</button></center>  







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>