<!DOCTYPE html> 
<html> 

<head> 
	<title> 
		Reloading page after 5 seconds 
	</title> 
	
    <script>
function refreshAt(hours, minutes, seconds) {
    var now = new Date();
    var then = new Date();

    if(now.getHours() > hours ||
       (now.getHours() == hours && now.getMinutes() > minutes) ||
        now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
        then.setDate(now.getDate() + 1);
    }
    then.setHours(hours);
    then.setMinutes(minutes);
    then.setSeconds(seconds);

    var timeout = (then.getTime() - now.getTime());
    setTimeout(function() { window.location.reload(true); }, timeout);
}

</script>
<script>
refreshAt(11,44,0);
</script>
</head> 

<body> 
	<h1>Welcome to GeeksforGeeks code</h1> 
</body> 

</html> 
